
.labelHeader {

}
.headerBackground{
    background-size:100% 100%;
    overflow:hidden;
    height:250px;
}
.headerImageBackground {
    background-image:url(../Resources/KLR1.jpg);
    background-size:100% 250px;
    height:250px;
}
.headerTitleTextBackground {
    z-index:1;
}
.headerTitleText {
    text-align:center;
    color:white;
    font:Lucida Console;
    font-size:40px;
    vertical-align:middle;
    line-height:250px;
}
.body {
    margin: 0px;
    padding: 0px;
}
.visualization
        {
            float: left;
            width: 500px;
            height: 500px;
            position: relative;
            overflow: hidden;
        }

